node_modules/
.vitepress/dist/
.vitepress/cache/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.DS_Store
Gemfile.lock
TODO*
!TODO.astro/
astro-site/node_modules/
astro-site/dist/
astro-site/.astro/
.astro/
